body{
height: 98vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}
nav{
display: flex;
justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
display: flex;
justify-content: space-between;
}